* {
	box-sizing: border-box;
}

.center-table {
	margin: auto
}
body {
	font-family: 'Dosis', sans-serif;
}
.logo, .login-form {
	position: absolute;
	display: inline-block;
}

.logo{
	top: 200px;
	left: 28%;
}

.login-form{
	top: 280px;
	left: 45%;
}

